<!-- Header -->
  <header id="header" class="alt">
    <h1><a href="index.html">{{ site.title }} {{ site.country }}</a></h1>
    <nav id="nav">
      <ul>
        <li class="special">
          <a href="#menu" class="menuToggle"><span>Menu</span></a>
          <div id="menu">
            <ul class="center">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contacts</a></li>
              <li><a href="rules.html">Rules</a></li>
              <li><a href="accommodation.html">Accommodation</a></li>
              <li><a href="payment.html">Payment</a></li>
              <li><a href="registration.html">Registration</a></li>
              <hr>
              <li><a href="https://cybersocks.org/malaysia">Malaysia</a></li>
              <li><a href="https://cybersocks.org/singapore">Singapore</a></li>
              <li><a href="https://cybersocks.org/vietnam">Vietnam</a></li>
              <li><a href="https://cybersocks.org/thailand">Thailand</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </header>
