<!-- Header -->
  <header id="header" class="alt">
    <h1><a href="index.html">{{ site.title }} {{ site.country }}</a></h1>
    <nav id="nav">
      <ul>
        <li class="special">
          <a href="#menu" class="menuToggle"><span>Menu</span></a>
          <div id="menu">
            <ul class="center">
              <li><a href="index.html">Trang chủ</a></li>
              <li><a href="about.html">Giới thiệu cuộc thi</a></li>
              <li><a href="contact.html">Liên hệ</a></li>
              <li><a href="rules.html">Luật thi đấu</a></li>
              <li><a href="accommodation.html">Địa điểm thi đấu</a></li>
              <li><a href="payment.html">Phí đăng ký</a></li>
              <li><a href="registration.html">Đăng ký</a></li>
              <hr>
              <li><a href="https://cybersocks.org">CyberSOCKS</a></li>
              <li><a href="https://cybersocks.org/malaysia">Malaysia</a></li>
              <li><a href="https://cybersocks.org/vietnam">Vietnam</a></li>
              <li><a href="https://cybersocks.org/thailand">Thailand</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </header>
